<div *ngIf="movie">
  <div class="movie-backdrop" [ngStyle]="{ 'background-image': 'url(' + movie.backdrop + ')' }"></div>
  <div class="container">
    <div class="movie-data row">
      <div class="col-md-4">
        <div class="movie-poster">
          <img class="img-fluid" src="{{ movie.imgUrl }}" alt="{{ movie.title }}" />
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-info">
          <p class="movie-overview">{{ movie.description }}</p>
          <div class="movie-meta">
            <dl class="movie meta-director">
              <dt>Director:</dt>
              <dd>{{ movie.director }}</dd>
            </dl>
            <dl class="movie-meta-cast">
              <dt>Casting:</dt>
              <dd>{{ movie.cast.join(', ')}}</dd>
            </dl>
            <dl class="movie-meta-runtime">
              <dt>Running Time:</dt>
              <dd>{{ movie.runtime | time}}</dd>
            </dl>
          </div>

          <button mat-raised-button color="primary" [routerLink]="['/book-movie',movie.id]" >Reserve now</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2 class="my-4">Also Showing</h2>
  <app-movie-list [movies]="otherMovies" ></app-movie-list>
</div>
