
<mat-card>
  <mat-card-title>
    <h3>Reset Password</h3>
  </mat-card-title>

  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>

  <p>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Email Address"
        #Email
        required
      />
    </mat-form-field>
  </p>

  <button type="submit" mat-raised-button class="forgot-btn" color="primary" (click)="authService.ForgotPassword(Email.value)" >
    Reset Password
  </button>

  <span
        >Go back to ?
        <button type="button" mat-button color="accent" routerLink="/sign-in">Log In</button>
  </span>

</mat-card>
